body {
    color: brown;
    background: color(rgb(182, 239, 182));
}

h1 {
    color: aqua;

}
button {
    background-color: bisque;
    border-radius: 50px;

}
p {
    background-color: blanchedalmond;
    color: yellowgreen;
}